# Override file for etcd Upstart script providing some environment variables
# env ETCD_INITIAL_CLUSTER="etcd-01=http://{{private_host_ipv4}}:2380"
# env ETCD_LISTEN_PEER_URLS="http://{{private_host_ipv4}}:2380"
env ETCD_DATA_DIR="/var/etcd"
env ETCD_NAME="master"
env ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
env ETCD_ADVERTISE_CLIENT_URLS="http://{{private_host_ipv4}}:2379"