{
	"properties": {
        "referredClauses": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "tags": {
          "type": "string",
          "include_in_all": false
        },
        "keywords": {
          "type": "string"
        },
        "view": {
          "type": "object",
          "enabled": false
        },
        "occurs": {
          "type": "object",
          "enabled": false
        }
      }
}