{
	"properties": {
        "referredClauses": {
          "type": "string"
        },
        "title": {
          "type": "string",
          "analyzer": "whitespace"
        },
        "tags": {
          "type": "string",
          "include_in_all": false,
          "analyzer": "whitespace"
        },
        "keywords": {
          "type": "string",
          "analyzer": "whitespace"
        },
        "item": {
          "type": "object",
          "enabled": false
        },
        "occurs": {
          "type": "object",
          "enabled": false
        }
      }
}