apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /srv/kubernetes/ca.crt
    server: {{ kube_apiserver }}
  name: local
users:
- user:
    token: {{ kubelet_token }}
  name: kubelet
contexts:
- context:
    cluster: local
    user: kubelet
  name: default-context
current-context: default-context