apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /srv/kubernetes/ca.crt
    server: {{ kube_apiserver }}
  name: local
users:
- user:
    token: {{ kube_proxy_token }}
  name: kube-proxy
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: default-context
current-context: default-context