KUBELET_OPTS="--api-servers={{ kube_apiserver }} \
  --cluster-domain={{ dns_domain }} \
  --allow-privileged=true \
  --cluster-dns={{ dns_server }} \
  --config=/etc/kubernetes/manifests \
  --kubeconfig=/var/lib/kubelet/kubeconfig"