[Unit]
Description=kube-apiserver
After=flannel.service

[Service]
EnvironmentFile=-/etc/default/%p
ExecStart=/usr/bin/kube-apiserver $KUBE_APISERVER_OPTS
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target