apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{certs_dir}}/ca.crt
    server: {{kube_apiserver}}
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: default-admin
  name: default-system
current-context: default-system
kind: Config
preferences: {}
users:
- name: default-admin
  user:
    client-certificate: {{certs_dir}}/issued/kubecfg.crt
    client-key: {{certs_dir}}/private/kubecfg.key