apiVersion: v1
kind: Endpoints
metadata:
  name: glusterfs-cluster
  namespace: default
subsets:
- addresses:
{% for host in groups.glusters %}
  - ip: {{hostvars[host]['ansible_' + private_network_iface]['ipv4']['address']}}
{% endfor %}
  ports:
  - port: 1
