[Unit]
Description=Flanneld overlay address etcd agent
Before=docker.service
After=network.target
After=etcd.service

[Service]
Type=notify
EnvironmentFile=-/etc/default/%p
ExecStart=/usr/bin/flanneld $FLANNEL_OPTS
ExecStartPost=/usr/bin/mk-docker-opts.sh
Restart=on-failure

[Install]
RequiredBy=docker.service